@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --branco: #ffffff;
  --preto:  #0B1D03;
  --cafe-claro:#A0996C;
  --creditos:#1F1F1F;
  --highlights:#F5F5F5;
  --produtos:#F7F1E6;
  --cards:#FFFCF6;
  --cinza:#969696;
}

body {
  margin: 0;
  color: var(--preto);
  background-color: var(--branco);
}

.banner{
  background: linear-gradient(0deg, #1f1f1f80, #1f1f1f80), url("banner/image 1Banner.png");
  width: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center-top;
}

header{
  margin-top: -10%;
  margin-left: 5%;
  width: 85%;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header p{
  font-size: 28px;
  color: var(--branco);
  font-family: 'Playfair Display';
  font-weight: 700;
}

.banner-title{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  margin-top: -3%;

}

.banner-title h1{
  font-family: 'Playfair Display';
  color: var(--branco);
  font-size: 60px;
  line-height: 70px;
  margin-bottom: -1%;
}

.banner-title h3{
  color: var(--branco);
  font-family: 'Open Sans';
  font-size: 28px;
  font-weight: 300;
}

.banner-sliders{
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: -6%;
}

.banner-arrows{
  margin-left: 5%;
  margin-bottom: 3%;
  margin-top: 5%;
}

.botao-banner{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#seta-esquerda{
  rotate: 180deg;
  margin-right: 15px;
}

.botao-banner-bag{
  background-image: "css\banner\Bag.svg";
}


main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlights{
  background-color: var(--highlights);
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 100px;
}

.highlight h2{
  font-family: 'Playfair Display';
  font-size: 70px;
 
}

.highlight p{
  width: 600px;
  font-family:'Open Sans';
  font-weight: 300;
  font-size: 40px;
}

.highlight img{
  height: 550px;
}

.varieties{
  background-color: var(--produtos);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.varieties h2{
  font-family: 'Playfair Display';
  font-weight: 700;
  color: var(--cafe-claro);
  font-size: 50px;
  line-height: 55px;
  position: absolute;
  top: 2150px;
  left: 200px;
}

.variety-cards{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coffee-title{
  margin-right: 150px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 28px;
  color: var(--preto);
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: center;
}

.coffee-bag img{
  margin-left: 50px;
  margin-top: 50px;
  width: 170px;
  height: 215px;
}

.price{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 80px;
}

.price h4{
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: var(--preto);
  margin-right: 10px;
}

.price p{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: var(--cinza);
}

.variety-cards button{
  margin-left: 10px;
  width: 300px;
  height: 70px;
  border: none;
  border-radius: 4px;
  background-color: var(--preto);
  color: var(--branco);
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

