:root {
  --branco: #ffffff;
  --preto:  #0B1D03;
}

body {
  margin: 0;
  color: var(--preto);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner{
  background: linear-gradient(0deg, #1f1f1f80, #1f1f1f80), url("./banner/image\ 1Banner.png");
  margin-bottom: 118px;
}

