@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --branco: #ffffff;
  --preto:  #0B1D03;
  --cafe-claro:#A0996C;
  --creditos:#1F1F1F;
  --highlights:#F5F5F5;
  --produtos:#F7F1E6;
  --cards:#FFFCF6;
  --cinza:#969696;
}

body {
  color: var(--preto);
  background-color: var(--branco);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}



.banner{
  background: linear-gradient(0deg, #1f1f1f80, #1f1f1f80), url("banner/image 1Banner.png");
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center-top;
}

header{
  margin-top: -10%;
  margin-left: 5%;
  width: 90%;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header p{
  font-size: 31px;
  color: var(--branco);
  font-family: 'Playfair Display';
  font-weight: 700;
}

.banner-title{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  margin-top: -3%;

}

.banner-title h1{
  font-family: 'Playfair Display';
  color: var(--branco);
  font-size: 60px;
  line-height: 70px;
  margin-bottom: -1%;
}

.banner-title h3{
  color: var(--branco);
  font-family: 'Open Sans';
  font-size: 28px;
  font-weight: 300;
}

.banner-sliders{
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: -6%;
}

.banner-arrows{
  margin-left: 5%;
  margin-bottom: 3%;
  margin-top: 5%;
}

.botao-banner{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#seta-esquerda{
  rotate: 180deg;
  margin-right: 15px;
}

.botao-banner-bag{
  background-image: "css\banner\Bag.svg";
}


main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlights{
  background-color: var(--highlights);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 100px;
  position: relative;
  left: 0;
  right: 0;
}

.highlight h2{
  font-family: 'Playfair Display';
  font-size: 70px;
 
}

.highlight p{
  width: 600px;
  font-family:'Open Sans';
  font-weight: 300;
  font-size: 40px;
}

.highlight img{
  height: 550px;
}

.varieties{
  width: 100%;
  background-color: var(--produtos);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  position: relative;
  padding-right: 400px;
}

.varieties h2{
  font-family: 'Playfair Display';
  font-weight: 700;
  color: var(--cafe-claro);
  font-size: 50px;
  line-height: 55px;
  position: relative;
  bottom:745px;
  left:378px;
}

.variety-cards{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: 30px;
  margin-top: 150px;
}

.coffee-title{
  margin-right: 150px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 28px;
  color: var(--preto);
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: center;
}

.coffee-bag img{
  padding-left: 100px;
  padding-top: 50px;
  width: 170px;
  height: 215px;
}

.price{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 120px;
}

.price h4{
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: var(--preto);
  margin-right: 10px;
}

.price p{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: var(--cinza);
}

.variety-cards button{
  margin-left: 10px;
  width: 390px;
  height: 70px;
  border: none;
  border-radius: 4px;
  background-color: var(--preto);
  color: var(--branco);
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 100px;
  cursor: pointer;
}

.benefits{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
  position: relative;
  left: 30px;
}

.benefits p{
  width: 200px;
  font-family: 'Open Sans';
  color: var(--preto);
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 60px;
}

.benefits-description{
  margin-left: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.cards-coffee{
  width: 100%;
  background-color: var(--cards);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-coffee-1{
  width: 80%;
  display: inline-block;
  position: relative;
}

.cards-coffee-text-1{
  position: absolute;
  top: 350px;
}
.cards-coffee-text-1 h2{
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  color:var(--cards);
  margin-left: 25px;
}

.cards-coffee-text-1 p{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: var(--cards);
  margin-left: 25px;
  width: 400px;
}

.card-coffee-2{
  width: 80%;
  margin-left: 50px;
  display: inline-block;
  position: relative;
}

.cards-coffee-text-2{
  position: absolute;
  top: 350px;
}
.cards-coffee-text-2 h2{
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  color:var(--cards);
  margin-left: 25px;
}

.cards-coffee-text-2 p{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: var(--cards);
  margin-left: 25px;
  width: 400px;
}

.find-store{
  width: 100%;
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  margin-left: 650px;
}

.find-store h2{
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 49px;
  line-height: 55px;
  color: var(--preto);
}

.find-store form{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.select{
  font-family: 'Open Sans';
  font-weight: 300;
  width: 400px;
  height: 45px;
  margin-right: 18px;
  background-color: var(--branco);
  border: solid var(--preto) thin;
  border-radius: 4px;
  cursor: pointer;
}

select:required:invalid{
  color: var(--cinza);
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 28px;
  font-size: 15px;
  opacity: 1;
}


::placeholder{
  
  font-family: 'Open Sans';
  font-weight: 300;
  color: var(--cinza);
  font-size: 15px;
  line-height: 28px;
  opacity: 1;
}

.busca-endereco input{
  width: 850px;
  height: 45px;
  color: var(--cinza);
  background-color: var(--branco);
  position: relative;
  border: solid var(--preto) thin;
  border-radius: 4px;
  padding-left: 20px;
}

.busca-endereco button{
  background-color: transparent;
  border: none;
  position: relative;
  right: 50px;
  top: 9px;
  cursor: pointer;
}

iframe{
  width: 1265px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 80px;
}

footer{
  width: 100%;
  background-color: var(--produtos);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


#Name-Footer{
  font-size: 25px;
  line-height: 25px;
  color: var(--preto);
  font-family: 'Playfair Display';
  font-weight: 700;
  padding-bottom: 120px;

}

footer p{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--produtos);
}

li{
  margin: 10px 0 10px 0;
}

.credits{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.credits h5{
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 17px;
  line-height: 15px;
  padding: 0;
}

.credits img{
  padding-bottom: 27px;
  padding-left: 15px;
  width: 159.8px;
  height: 19.24px;
}

footer a{
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--creditos);
}
